@use 'element-plus/theme-chalk/src/common/var.scss';

.el-menu-item,
.el-sub-menu__title {
  @apply flex gap-8 items-center !px-8;
}

.el-sub-menu {
  .el-menu-item {
    padding-left: 32px !important;
  }
}

// 重置el-menu-item的hover样式
.el-menu-item:hover,
.el-sub-menu__title:hover,
.el-menu-item.is-active {
  background-color: #FFFFFF1A !important; // 示例颜色
  color: #EFF4F9 !important;
  border-radius: 8px;
}

// 重置 el-divider 的样式
.el-divider--horizontal,
.el-divider--vertical {
  margin: 0 !important;
}

// 重置 el-table 的样式
.el-table {
  // 表格默认背景色为白色
  background-color: rgb(252, 252, 252) !important; // 示例颜色

  th {
    background-color: rgb(252, 252, 252)  !important; // 示例颜色
  }

  tr {
    background-color: rgb(252, 252, 252)  !important;
  }

  // 表格背景色为 transparent
  &.bg-transparent {
    background-color: transparent !important;

    th {
      background-color: transparent !important;
    }

    tr {
      background-color: transparent !important;
    }

  }

  // 有上边框的table
  &.has-top {
    @apply divider-neutral-grey-4-1px;
  }
}

// 重置 el-tab 的样式
.el-tabs {

  .el-tabs__content {
    display: none;
  }

  .el-tabs__header {
    // tabs 头部栏margin重置
    margin: 0 !important;
    // tabs 头部栏底部边框重置
    border-bottom: 1px solid #dadde5;

    .el-tabs__nav-wrap {
      margin-left: 32px;

      .el-tabs__item {
        height: 48px;
      }
    }

    .el-tabs__nav-wrap::after {
      // tabs 栏底部线隐藏
      display: none;
    }
  }

  &.has-top {
    .el-tabs__content {
      display: none;
    }

    .el-tabs__header {
      // tabs 头部栏margin重置
      margin: 0 !important;
      // tabs 头部栏底部边框重置
      border-bottom: 1px solid #dadde5;
      border-top: 1px solid #dadde5;

      .el-tabs__nav-wrap {
        margin-left: 32px;

        .el-tabs__item {
          height: 47px;
        }
      }

      .el-tabs__nav-wrap::after {
        // tabs 栏底部线隐藏
        display: none;
      }
    }
  }

  &.no-bottom {
    .el-tabs__header {
      @apply border-none;
    }
  }
}

// 重置 el-button 的样式
.el-button,
.el-button--small,
.el-button--large {
  border-radius: 8px !important;
}

/* 全局覆盖 Element Plus 竖直分割线的默认样式 */
.el-divider--vertical {
  @apply h-auto! self-stretch!;
  /* 让高度不被固定 */
  /* 在 flex 布局中自动拉伸到父容器高度 */
}

.el-tooltip__trigger:focus,
.el-tooltip__trigger:focus-visible {
  outline: none;
}

// 重置element 弹窗的样式
//.el-popper {
//  padding: 12px 16px 12px 16px !important;
//  box-sizing: border-box !important;
//  border-radius: 8px !important;
//}
//
.el-popper {
  // padding: 12px 16px 12px 16px !important;
  // box-sizing: border-box !important;
  border-radius: 8px !important;
}

// 重置element 弹窗的样式
.el-popper__arrow {
  // 隐藏小角
  display: none;
}



// 重置表单标签样式
.el-form-item__label {
  @apply text-neutrals-grey-3! row-center!;
  font-weight: 500 !important;
  line-height: 18px !important;
}

.el-table {
  // 不需要table的默认背景色
  &.no-bg {
    background-color: transparent !important;
  }

  .cell {
    display: flex !important;
    align-items: center !important;
  }
}


// 重置菜单栏折叠后的弹窗的样式
.el-popper.is-pure.is-light {
  @apply z-99999!;

  .el-menu--popup-container {

    .el-menu-item {
      @apply hover:bg-[#ecf5ff]! hover:text-neutrals-off-black! rounded-8!;
    }
  }
}

// 子菜单项选中样式
.el-menu.el-menu--popup.el-menu--popup-right-start {
  @apply p-8! flex flex-col gap-4;

  .el-menu-item.is-active{
    @apply text-neutrals-off-black! bg-[#ecf5ff]!;
  }
}

// 抽屉的样式
.el-drawer {
  // 自定义抽屉的样式
  &.custom-drawer {
    // 隐藏头部
    .el-drawer__header {
      @apply hidden!;
    }

    // 自定义body的样式
    .el-drawer__body {
      @apply p-0 flex flex-col gap-16;
    }
  }
}