@use "element-variables";

/* <editor-fold desc="默认使用 Inter 字体"> */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
/* </editor-fold> */

/* <editor-fold desc="html 标签样式重置"> */
html,
body,
#app {
  @apply w-full h-full;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

label {
  font-weight: 500;
  font-size: 12px;
  color: $neutrals-grey-3;
}

dl {
  margin: 0;
}

dt {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $neutrals-grey-3;
}

dd {
  margin: 0;
  font-weight: 400;
  line-height: 16px;
  font-size: 14px;
  color: $neutrals-off-black;
}

p {
  @apply m-0;
}

/* </editor-fold> */

/* <editor-fold desc="重置字体图标样式"> */
i {
  font-size: 16px;
  color: $neutrals-grey-3;
  font-style: normal;
  vertical-align: text-top;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/* </editor-fold> */

/* 动画效果 */


// 箭头进行的动画效果
@keyframes rotateArrow {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.animate-rotate {
  animation: rotateArrow 0.3s ease forwards;
}

// 箭头反转的动画效果
@keyframes rotateArrowReverse {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-rotate-reverse {
  animation: rotateArrowReverse 0.3s ease forwards;
}

/* <editor-fold desc="样式方案"> */
.heading-h1-26px-medium {
  font-size: 26px;
  font-weight: 500;
}

.heading-h1-26px-regular {
  font-size: 26px;
  font-weight: 400;
}

.heading-h2-20px-medium {
  font-size: 20px;
  font-weight: 500;
}

.heading-h2-20px-regular {
  font-size: 20px;
  font-weight: 400;
}

.heading-h3-16px-medium {
  font-size: 16px;
  font-weight: 500;
}

.heading-h3-16px-regular {
  font-size: 16px;
  font-weight: 400;
}

.heading-body-large-body-14px-medium {
  font-size: 14px;
  font-weight: 500;
}

.heading-body-large-body-14px-regular {
  font-size: 14px;
  font-weight: 400;
}

.heading-body-body-12px-medium {
  font-size: 14px;
  font-weight: 500;
}

.heading-body-body-12px-regular {
  font-size: 14px;
  font-weight: 400;
}

.heading-caption-caption-10px-medium {
  font-size: 14px;
  font-weight: 500;
}

.heading-caption-caption-10px-regular {
  font-size: 14px;
  font-weight: 400;
}

.h2-20px-semibold {
  font-size: 20px;
  font-weight: 600;
}

.h1-24px-semibold {
  font-size: 26px;
  font-weight: 600;
}

.h3-16px-regular {
  font-size: 16px;
  font-weight: 400;
}

.neutrals-off-white {
  color: $neutrals-off-white;
}

.neutrals-grey-1 {
  color: $neutrals-grey-1;
}

.neutrals-grey-3 {
  color: $neutrals-grey-3;
}

.neutrals-grey-4 {
  color: $neutrals-grey-4;
}

.neutrals-off-black {
  color: $neutrals-off-black;
}

.branding-colours-primary {
  color: $branding-colours-primary;
}
/* </editor-fold> */

// 分割线样式
.divider {
  color: $neutrals-10-white;
}

// 可点击行样式
.clickable-row {
  cursor: pointer;
}

// 覆盖dropdownt弹窗框的样式
.custom-dropdown-menu {
  padding: 8px 16px !important;
  border-radius: 8px !important;
}

// 只有下划线的el-input
.input--underline  {
  .el-input__wrapper {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: var(--el-input-border-color, var(--el-border-color));
      pointer-events: none;
      transition: $app-transitions;
    }

    &.is-focused {
      &::after {
        background-color: $branding-colours-primary;
      }
    }
  }
}

// 背景色为 #EAEEF480 的输入框
.input--bg-neutrals-grey-1 {
  .el-input__wrapper {
    @apply rounded-8 bg-neutrals-grey-1-with-50 shadow-none border-none;
  }
}

// 只有下边框的el-select
.select--underline {
  .el-select__wrapper {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;

    &.is-focused {
      &::after {
        background-color: $branding-colours-primary;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: var(--el-input-border-color, var(--el-border-color));
      pointer-events: none;
      transition: $app-transitions;
    }
  }
}

// 背景色为 #EAEEF480 的 el-select
.select--bg-neutrals-grey-1 {
  .el-select__wrapper {
    @apply rounded-8 bg-neutrals-grey-1-with-50 shadow-none border-none;
  }
}

// 去除背景色
.remove-background-color {
  background-color: transparent !important;
}

// 使 el-form-item 一行显示
.el-form-item--inline {
  .el-form-item {
    @apply flex gap-8;

    &__label {
      @apply w-150 items-center m-0!;
    }
  }
}

// h5 的 el-form-item 样式
.el-form-item--h5 {
  .el-form-item {
    @apply mb-20;

    // 必填字段
    &.label-required {
      .el-form-item__label {
        @apply text-14! font-400! text-neutrals-grey-4!;

        &::after {
          content: "*";
          color: var(--el-color-danger);
          margin-left: 4px;
        }
      }
    }

    &__label {
      @apply text-14! font-400! text-neutrals-grey-4!;
    }

    &__content {

      .el-input__wrapper {
        @apply rounded-12 p-12 text-16;

        .el-input__inner::placeholder {
          @apply text-16;
        }
      }

      .el-select__wrapper {
        @apply rounded-12 p-12 w-100;

        .el-select__selection {
          @apply h-30;
        }

        .el-select__icon {
          @apply  text-20;
        }

        .el-select__placeholder {
          @apply text-16;
        }
      }

      .el-textarea__inner {
        @apply rounded-12 p-12 text-16;

        &::placeholder {
          @apply text-16;
        }
      }
    }
  }
}

// 在内容前添加一个 $ 符号
.add-prefix-dollar-sign {
  &::before {
    content: '$';
  }
}