@use "element-variables";

:root {
  font-family: "Microsoft YaHei UI", sans-serif;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

i {
  font-size: 16px;
  color: $neutrals-grey-3;
  font-style: normal;
}

.heading-h1-26px-medium {
  font-size: 26px;
  font-weight: 500;
}

.heading-h1-26px-regular {
  font-size: 26px;
  font-weight: 400;
}

.heading-h2-20px-medium {
  font-size: 20px;
  font-weight: 500;
}

.heading-h2-20px-regular {
  font-size: 20px;
  font-weight: 400;
}

.heading-h3-16px-medium {
  font-size: 16px;
  font-weight: 500;
}

.heading-h3-16px-regular {
  font-size: 16px;
  font-weight: 400;
}

.heading-body-large-body-14px-medium {
  font-size: 14px;
  font-weight: 500;
}

.heading-body-large-body-14px-regular {
  font-size: 14px;
  font-weight: 400;
}

.heading-body-body-12px-medium {
  font-size: 12px;
  font-weight: 500;
}

.heading-body-body-12px-regular {
  font-size: 12px;
  font-weight: 400;
}

.heading-caption-caption-10px-medium {
  font-size: 10px;
  font-weight: 500;
}

.heading-caption-caption-10px-regular {
  font-size: 10px;
  font-weight: 400;
}

.neutrals-off-white {
  color: $neutrals-off-white;
}

.neutrals-grey-3 {
  color: $neutrals-grey-3;
}

.neutrals-grey-4 {
  color: $neutrals-grey-4;
}

.neutrals-off-black {
  color: $neutrals-off-black;
}

/// 背景色为 #neutrals-off-white
.bg-neutrals-off-white {
  background-color: $neutrals-off-white;
}

// 分割线样式
.divider {
  color: $neutrals-10-white;
}