/// branding-colours
$branding-colours-primary: #006BF7;
$branding-colours-gradient-b: #0A1C34;
$branding-colours-gradient-e: #1B1A1E;

/// neutrals-colors
$neutrals-kinda-blue: #EFE4F9;
$neutrals-light-blue: #E8F0F8;
$neutrals-grey-1: #EAEEF4;
$neutrals-off-white: #FCFCFC;
$neutrals-10-white: #FFFFFF19;
$neutrals-grey-2: #CACFD8;
$neutrals-grey-3: #99A0AE;
$neutrals-grey-4: #6F7788;
$neutrals-off-black: #1B1A1E;
$neutrals-overlay: #1B1A1E80;
$neutrals-white: #FFFFFF;

/// status-colours
$status-colours-blue: #3288F8;
$status-colours-light-blue: #E3EAF3;
$status-colours-greyish-blue: #F8FAFC;
$status-colours-red: #EF3C30;
$status-colours-hovered: #F58A83;
$status-colours-light-red: #FDECEA;
$status-colours-orange: #FF6D1A;
$status-colours-light-orange: #FFF0E8;
$status-colours-green: #05AD9D;
$status-colours-light-green: #E6F7F5;
$status-colours-20-green: #E6F7F533;
$status-colours-purple: #6B07EC;
$status-colours-light-purple: #F5EAFB;

// 渐变效果
$app-transitions: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);

// 默认渐变的背景样式
$default-background-image: radial-gradient(circle, #0a1c34 0%, #1b1a1e 100%);

// 公共背景样式
%common-bg-style {
  @apply w-full h-full box-border flex p-8 gap-8;
  background-image: $default-background-image;
}

// 只有下划线的 el-input 的样式
%el-input-underline-style {
  // 清除原有样式
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--el-input-border-color, var(--el-border-color));
    pointer-events: none;
  }
}

// 渐变效果
@mixin custom-transition-with-property ($property: all) {
  transition: #{$property} 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
