@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6mivwd');
  src:  url('fonts/icomoon.eot?6mivwd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6mivwd') format('truetype'),
    url('fonts/icomoon.woff?6mivwd') format('woff'),
    url('fonts/icomoon.svg?6mivwd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e90f";
}
.icon-stretch:before {
  content: "\e902";
}
.icon-link:before {
  content: "\e90d";
}
.icon-unlink:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90c";
}
.icon-more:before {
  content: "\e900";
}
.icon-duplicate:before {
  content: "\e901";
}
.icon-triangle-shape:before {
  content: "\e903";
}
.icon-rectangle-shape:before {
  content: "\e904";
}
.icon-circle-shape:before {
  content: "\e905";
}
.icon-line-shape:before {
  content: "\e906";
}
.icon-success:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-align-left:before {
  content: "\e909";
}
.icon-align-center:before {
  content: "\e90a";
}
.icon-align-right:before {
  content: "\e90b";
}
.icon-back:before {
  content: "\e92e";
}
.icon-next:before {
  content: "\e931";
}
.icon-delete:before {
  content: "\e932";
}
