@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mbuyi1');
  src:  url('fonts/icomoon.eot?mbuyi1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mbuyi1') format('truetype'),
    url('fonts/icomoon.woff?mbuyi1') format('woff'),
    url('fonts/icomoon.svg?mbuyi1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-group:before {
  content: "\e928";
}
.icon-edit-line:before {
  content: "\e922";
}
.icon-delete-bin-line:before {
  content: "\e927";
}
.icon-more-2-line:before {
  content: "\e90c";
}
.icon-typeuser-3-fill1:before {
  content: "\e926";
}
.icon-selectedfalse:before {
  content: "\e926";
}
.icon-eye-off-line:before {
  content: "\e900";
}
.icon-typeForum:before {
  content: "\e901";
}
.icon-selectedtrue:before {
  content: "\e901";
}
.icon-typePhone:before {
  content: "\e902";
}
.icon-selectedtrue1:before {
  content: "\e902";
}
.icon-typedatabase-2-fill:before {
  content: "\e903";
}
.icon-selectedtrue2:before {
  content: "\e903";
}
.icon-typeOBD:before {
  content: "\e904";
}
.icon-selectedtrue3:before {
  content: "\e904";
}
.icon-typedashboard:before {
  content: "\e905";
}
.icon-selectedtrue4:before {
  content: "\e905";
}
.icon-typelist:before {
  content: "\e906";
}
.icon-selectedtrue5:before {
  content: "\e906";
}
.icon-typeuser-settings-line:before {
  content: "\e907";
}
.icon-selectedtrue6:before {
  content: "\e907";
}
.icon-typeuser-3-fill:before {
  content: "\e908";
}
.icon-selectedtrue7:before {
  content: "\e908";
}
.icon-mail-send-line-1:before {
  content: "\e909";
}
.icon-Component-5-6:before {
  content: "\e90a";
}
.icon-Component-5-4:before {
  content: "\e90b";
}
.icon-Component-5-2:before {
  content: "\e90d";
}
.icon-typesOrderManagement:before {
  content: "\e90e";
}
.icon-Component-5:before {
  content: "\e90f";
}
.icon-mail-send-line:before {
  content: "\e910";
}
.icon-typescollapsable:before {
  content: "\e911";
}
.icon-typeslink:before {
  content: "\e912";
}
.icon-typesclose:before {
  content: "\e913";
}
.icon-typesadd:before {
  content: "\e914";
}
.icon-typesdropdown:before {
  content: "\e915";
}
.icon-typescalendar:before {
  content: "\e916";
}
.icon-typesdot-line:before {
  content: "\e917";
}
.icon-typesnote:before {
  content: "\e918";
}
.icon-typestime:before {
  content: "\e919";
}
.icon-typeslist:before {
  content: "\e91a";
}
.icon-typesline:before {
  content: "\e91b";
}
.icon-typesarrow-right:before {
  content: "\e91c";
}
.icon-typesarrow-up:before {
  content: "\e91d";
}
.icon-typeslocaiton:before {
  content: "\e91e";
}
.icon-typesdelivery:before {
  content: "\e91f";
}
.icon-typessetting:before {
  content: "\e920";
}
.icon-typesnotification:before {
  content: "\e921";
}
.icon-typesVacheckiant9:before {
  content: "\e923";
}
.icon-typespassword:before {
  content: "\e924";
}
.icon-typesDefault:before {
  content: "\e925";
}
