@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y30peh');
  src:  url('fonts/icomoon.eot?y30peh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y30peh') format('truetype'),
    url('fonts/icomoon.woff?y30peh') format('woff'),
    url('fonts/icomoon.svg?y30peh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload-2-line:before {
  content: "\e921";
}
.icon-delete-bin-line:before {
  content: "\e91f";
}
.icon-edit-line:before {
  content: "\e920";
}
.icon-more-2-line:before {
  content: "\e91e";
}
.icon-Ai-Vehicle-Spark-1--Streamline-Core:before {
  content: "\e922";
}
.icon-services:before {
  content: "\e923";
}
.icon-Fuel-Level:before {
  content: "\e924";
}
.icon-fi_file-minus:before {
  content: "\e925";
}
.icon-fi_tool:before {
  content: "\e926";
}
.icon-prediction:before {
  content: "\e927";
}
.icon-Car-Crash--Streamline-Tabler:before {
  content: "\e928";
}
.icon-eye-off-line:before {
  content: "\e91d";
}
.icon-dashboard:before {
  content: "\e917";
}
.icon-app-configuration:before {
  content: "\e918";
}
.icon-database:before {
  content: "\e919";
}
.icon-user-management:before {
  content: "\e91a";
}
.icon-obd-management:before {
  content: "\e91b";
}
.icon-order-management:before {
  content: "\e91c";
}
.icon-typescollapsable:before {
  content: "\e901";
}
.icon-typeslink:before {
  content: "\e902";
}
.icon-typesclose:before {
  content: "\e903";
}
.icon-typesadd:before {
  content: "\e904";
}
.icon-typesattachment:before {
  content: "\e905";
}
.icon-typesdropdown:before {
  content: "\e906";
}
.icon-typescalendar:before {
  content: "\e907";
}
.icon-typesdot-line:before {
  content: "\e908";
}
.icon-typesnote:before {
  content: "\e909";
}
.icon-typestime:before {
  content: "\e90a";
}
.icon-typeslist:before {
  content: "\e90b";
}
.icon-typesline:before {
  content: "\e90c";
}
.icon-typesarrow-right:before {
  content: "\e90d";
}
.icon-typesarrow-up:before {
  content: "\e90e";
}
.icon-typeslocaiton:before {
  content: "\e90f";
}
.icon-typesdelivery:before {
  content: "\e910";
}
.icon-typessetting:before {
  content: "\e911";
}
.icon-typesnotification:before {
  content: "\e912";
}
.icon-typessearch:before {
  content: "\e913";
}
.icon-typespassword:before {
  content: "\e914";
}
.icon-typesVacheckiant9:before {
  content: "\e915";
}
.icon-typesDefault:before {
  content: "\e916";
}
.icon-typescollapsable1:before {
  content: "\e900";
}
